<ion-header>
  <ion-navbar>
    <ion-title>Mem App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="setup">

  <p>A memorization app to help with classical buddhist texts.  Hopefully there is something special about this endevor.</p>
  <p>This app features a simple interface. </p>

  <h3>Instructions</h3>
  <p>Tapping (clicking) on a line will progessively hide a selection of characters on the line with an underscore.  For example, the words "hidden text" might be transformed into "h_____ t___" where only the first letter of each word is show and all other letters are hidden.</p>
  <p>Tap-and-hold (click-and-hold) will do the opposite of just a tap.</p>
  <p>On start, the app will resume to the last place you were at.  If you wish to restart, come back to this setup page and hit Restart.</p>
  <h3>Text selection</h3>
  <table>
    <tr><!--<td>Strategy</td>--><td>Name</td>
    <tr>
      <!--<td><select><option>First Letter</option>
      <option>Odd-Even</option>
      </select></td>-->
      <td><select (change)="selectText($event.target.value)"><!--TODO change to https://ionicframework.com/docs/v2/api/components/select/Select/ -->
      <option value="custom">{{customTitle}}</option>
      <option *ngFor="let textName of textList"  [value]="textName" [attr.selected]="textName==service.getTitle()?'selected':null">{{textName}}</option>
      </select></td>
      <td><button (click)="restartMemorization()">Restart</button></td>
      <td><button (click)="continue()">Continue</button></td>
    </tr>
  </table>
  <div *ngIf="!showCustom()"><p><span *ngFor="let line of fullText">{{line}}<br></span></p></div>
  <ion-item *ngIf="showCustom()"><!--ion-label>Enter your own!</ion-label--><ion-textarea rows="6" [(ngModel)]="customText" (input)="adjust($event)">this text should be replaced</ion-textarea></ion-item>
</ion-content>
