<ion-header>
  <ion-navbar>
    <ion-title class="hide">Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="setup">
  <h2>Mem app</h2>
  <p>
    A memorization app to help with classical buddhist texts.  Hopefully there is something special about this endevor.
  </p>
  <table>
    <tr><!--<td>Strategy</td>--><td>Name</td>
    <tr>
      <!--<td><select><option>First Letter</option>
      <option>Odd-Even</option>
      </select></td>-->
      <td><select (change)="selectText($event.target.value)"><!--change to https://ionicframework.com/docs/v2/api/components/select/Select/-->
      <option *ngFor="let textName of textList"  [value]="textName" [attr.selected]="textName==service.getTitle()?'selected':null">{{textName}}</option>
      </select></td>
      <td><button (click)="restartMemorization()">Restart</button></td>
      <td><button (click)="continue()">Continue</button></td>
    </tr>
  </table>
  <p><span *ngFor="let line of fullText">{{line}}<br></span></p>

  

</ion-content>
