# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
.editorconfig
config.xml
gulpfile.js
hooks/
ionic.config.json
package.json
resources/
tsconfig.json
tslint.json
typings.json
typings/
