<ion-header>
  <ion-navbar>
    <ion-title>Memorize</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="memorize" on-scroll-complete="saveScroll()">
  <ion-list no-lines on-scroll-complete="saveScroll()">
    <ion-item *ngFor="let line of displayedText; let i = index" (tap)="hideCycle(i)" (press)="revealCycle(i)" text-wrap>
      <p style="white-space:pre-wrap;font-family:monospace"><span *ngFor="let section of line" [class.obscured]="section[0]=='_'">{{section}}</span></p>
    </ion-item>
  </ion-list>
  <!-- ion-list no-lines>
    <ion-item-sliding *ngFor="let line of displayedText; let i = index">
      <ion-item><span style="white-space:pre;font-family:monospace">{{line}}</span></ion-item>
      <ion-item-options *ngIf='testForChar(fullText[i])'>
        <button *ngIf="hideLevel[i] < maxHideLevel" (click)="changeHide(i)"><ion-icon name="add"></ion-icon></button>
        <button *ngIf="hideLevel[i] === 0" (click)="hideMore(i)">hide</button>
        <button *ngIf="hideLevel[i] != 0" (click)="hideLess(i)">hide</button>
        <button *ngIf="hideLevel[i] > 0" (click)="hideLess(i)"><ion-icon name="remove"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
 [attr.style]="word[0]=='_' ? marryme : null" </ion-list -->
</ion-content>
